* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
}
.container>div {
    width: 100%;
    height: 100%;
    border: 5px solid black;
}
.container h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
  padding: 30px;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    place-items: center;
    gap: 20px;
    width: 700px;
    height: 550px;
    padding: 30px;
}

.header,
.footer {
    background-image: linear-gradient(to right, rgb(94, 16, 177), rgb(229, 176, 230));
    grid-column: 1/4;
}

.sidebar {
    background-image: linear-gradient(to top, rgb(17, 81, 81), aqua);
    grid-row: 2/4;
}

.content-1 {
    background-image: linear-gradient(to right, blue, rgb(77, 117, 177),rgb(156, 225, 244) );
    grid-column: 2/4;
}

.content-2,
.content-3 {
    background-image: linear-gradient(to right, blue, rgb(77, 117, 177),rgb(156, 225, 244) );
    grid-column: 2/3;
}

.content-3 {
    background-color: rgba(39, 39, 133, 0.534);
    grid-column: 3/4;
}